@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

.ADDITEM {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  margin-right: 0px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
.card {
  background-color: #1e1e1e;
  color: black  ;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  animation: load89234 2s infinite;
}
.header {
  background-color: #202127;
}
.addNew {
  float: right;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}
