@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  height : 100%;
}

body {
  background-color: black;
  color: white;
}

.ADDITEM {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  margin-right: 0px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
.card {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #1e1e1e;
  border-radius: 4px;
  
}
.header{
  background-color: #202127;
  
}
.addNew{
  float: right;
}
